*{
margin:0%;
padding:0%;
box-sizing:border-box;
}

html,body{
height:100%;
width:100%;
display: flex;
align-items: center;
justify-content: center;
}



.margin{

    height: 80%;
    width: 90%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{

    height: 150px;
    width: 150px;
    border: 1px solid;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 10px;
    

}

.box:hover{

    background-image: url(alejandro-contreras-wTPp323zAEw-unsplash.jpg);
    background-position: center;
    background-size: cover;
transition: 0.1s;

}

.box2{

    height: 150px;
    width: 150px;
    border: 1px solid;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 200px;
    border-radius: 50%;
    margin-left: 25px;

}
.box2:hover{

    background-image: url(boris-smokrovic-DPXytK8Z59Y-unsplash.jpg);
    background-position: center;
    background-size: cover;

}

.box3{

    height: 150px;
    width: 150px;
    border: 1px solid;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 39px;
    border-radius: 5px;


}
.box3:hover{


    background-image: url(ray-hennessy-xUUZcpQlqpM-unsplash.jpg);
    background-position: center;
    background-size: cover;
}